<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
          <a class="navbar-brand" href="{% url 'index' %}">Registration and Login</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li
              {% if request.path == '/' %}
                class="nav-item active"
              {% else %}
                class="nav-item"
              {% endif %}
              >
                <a class="nav-link" href="{% url 'index' %}">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li
              {% if 'register' in request.path %}
                class="nav-item active"
              {% else %}
                class="nav-item"
              {% endif %}
              >
                <a class="nav-link" href="{% url 'register' %}">Register</a>
              </li>
              <li
              {% if 'login' in request.path %}
                class="nav-item active"
              {% else %}
                class="nav-item"
              {% endif %}
              >
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>