{% extends 'base.html' %}

{% block content %}
    <!-- User Dashboard -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
            <h1 class="mt-5">Welcome to Your Dashboard</h1>
            <p class="lead"></p>
            </div>
        </div>
    </div>
{% endblock %}