{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-body">
                <h5 class="card-title text-center">Register</h5>
                <!-- Alert message -->
                {% include 'partials/_alerts.html' %}
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-label-group">
                        <label for="first_name">First Name</label>
                        <input type="text" name="first_name" class="form-control" placeholder="First Name" required autofocus>
                    </div>
                    
                    <div class="form-label-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" name="last_name" class="form-control" placeholder="Last Name" required autofocus>
                    </div>
        
                    <div class="form-label-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
                    </div>

                    <div class="form-label-group">
                        <label for="email">Email address</label>
                        <input type="email" name="email" class="form-control" placeholder="Email address" required>
                    </div>

                    <div class="form-label-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    
                    <div class="form-label-group">
                        <label for="password2">Confirm password</label>
                        <input type="password" name="password2" class="form-control" placeholder="Password" required>
                    </div>
                    <br>
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                    <!-- <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"><a href="{% url 'login' %}"></a>Login</button>
                    <hr class="my-4"> -->
                </form>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}