{% extends 'base.html' %}

{% load static %}

{% block title %} Homepage {% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            {% include 'partials/_alerts.html' %}
            <h1 class="mt-5">Register and Login Application</h1>
            <p class="lead">Complete the Registration and then Login</p>
            <ul class="list-unstyled">
              <li>With Django</li>
              <li>Bootstrap</li>
            </ul>
          </div>
        </div>
    </div>
{% endblock %}
